{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column m-auto container">
    <h3 class="my-4">Reset Password</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label(class='form-label') }}<br>
            {{ form.email(size=28, class='form-control rounded') }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='btn btn-danger') }}</p>
    </form>
</div>
{% endblock %}