body {
  font-family: Tahoma, verdana;
}

html {
  scroll-behavior: smooth;
}
.img-logo{
width: 40px;
height: 25px;
}
footer a:hover {
  text-decoration: underline;
  color: rgb(234, 107, 16);
}

.hero-section{
background-image: linear-gradient(45deg, #191970 , #800080);
height: 100vh;
}
.hero-section{
display: flex;
justify-content: center;
align-items: center}
.cta-links{
margin-top: 40px;
margin-bottom: 30px;
}
.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3.5rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.cta-buttons .cta-btn {
    background-color: #fff;
    color: #191970;
    padding: 12px 24px;
    border-radius: 25px;
    margin-right: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.cta-buttons .cta-btn:hover {
    background-color: #191970;
    color: #fff;
}
.circle-icon {
  /* border-radius: 20px; */
  background-color: rgb(198, 185, 185);
  width: 40px;
  height: auto;
  border-radius: 50%;
  padding: 4px;
  margin: auto;
  background-color: white;
  border-color: blue;
}

.dropdown-toggle::after {
  display: none;
}
.likeU{
  color: white;
  font-size: larger;
}
.likeU:hover{
  background-color: gray;
  padding: 2px;
  border-radius: 4px;
}
.username:hover{
  text-decoration: underline;
  color: black;
}