<div class="d-flex flex-column border p-2 rounded w-50">
    <div class="mb-3 d-flex flex-row text-left mb-1">
        <img alt="profile picture" src="{{ post.author.avatar(30) }}">
        <span class="d-flex flex-column user_popup">
            <a class="mx-2 text-decoration-none fw-bold link-body-emphasis"
               href="{{ url_for('user_bp.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {{ moment(post.timestamp).fromNow() }}
        </span>
    </div>
    {% if post.language and post.language != g.locale %}

<!--    <a href="#">{{ _('Translate') }}</a>-->
    {% endif %}
    <div class="mt-0">{{ post.body }}</div>
</div>
