{% extends "base.html" %}

{% block content %}
<section class="hero-section">
    <div class="hero-content text-center">
        <h1 class="display-1 mb-4 fw-bold">Discover the Latest Movies</h1>
        <p class="lead">Indulge in the magic of cinema! Immerse yourself in captivating stories and unforgettable moments. Whether you're seeking thrilling adventures or heartwarming tales, we've got the perfect movie for you.</p>
        <div class="cta-buttons mt-5">
            <a class="cta-btn btn btn-primary" href="#movies">Explore Now</a>
            <a class="cta-btn btn" href="#tickets">Buy Tickets</a>
        </div>
    </div>
</section>

<main class="container">
    <div class="" style="background-image: url('app/static/img/wall-image.jpeg')">
        <div class="d-flex justify-content-center align-items-center wall">
            <div class="py-3 px-4">


                <section class="" data-wow-delay="0.2s">

                    <!--Section heading-->
                    <h1 class="py-4 my-5 text-center wow fadeIn" data-wow-delay="0.2s"><strong
                            class="fw-bold">Discover</strong> the world of movies</h1>

                    <!--Grid row-->
                    <div class="row g-4">

                        <!--Grid column-->
                        <div class="col-md-12 col-lg-4">

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-ticket-alt blue-text"></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold">Get Tickets</h5>
                                    <p class="">Explore and book tickets for your favorite movies and
                                        screenings.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-star blue-text"></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold ">Reviews</h5>
                                    <p class="">Read reviews and ratings about the latest movie releases.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-tv "></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold ">Entertainment</h5>
                                    <p class="">Experience entertainment at its finest with our diverse
                                        selection of movies.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-play-circle blue-text"></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold ">Trailers</h5>
                                    <p class="">Watch exclusive trailers and sneak peeks of upcoming
                                        movies.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-12 col-lg-4 px-5 mb-2 text-center text-md-left d-flex align-items-center justify-content-center">
                            <img alt="" class="img-fluid w-100 card-img"
                                 height="100%" src="{{ url_for('static', filename='img/wall-image.jpeg') }}">
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-12 col-lg-4">

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-film blue-text"></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold ">Screening</h5>
                                    <p class="">Stay updated on upcoming movie screenings and showtimes.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-ticket-alt blue-text"></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold ">Ticketing</h5>
                                    <p class="">Secure your tickets hassle-free for a seamless movie
                                        experience.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-video blue-text"></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold ">Streaming</h5>
                                    <p class="">Enjoy streaming your favorite movies anytime, anywhere.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                            <!--Feature box-->
                            <div class="row mb-5">
                                <div class="col-3">
                                    <a class="btn-floating btn-lg btn-white" href="#"><i
                                            class="fas fa-user-friends blue-text"></i></a>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-bold ">Community</h5>
                                    <p class="">Join our movie-loving community and engage in discussions.</p>
                                </div>
                            </div>
                            <!--Feature box-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
                <!--/Section: Features v.4-->
            </div>
        </div>
    </div>
    <section>
        <h2 class=" mb-4">Our Team</h2>
        <div class="row">
            <div class="col-12 col-lg-4 col-md-4 card rounded ">
                <img alt="" class="card-img-top " height="45%"
                     loading="lazy" src="{{ url_for('static', filename='img/team1.jpg') }}" width="100%">
                <h4 class="card-title my-3">Mayen Akech</h4>
                <h5 class="card-subtitle text-secondary">Co-founder & Innovator</h5>
                <p class="card-text mt-3">
                    Introducing Mayen Akech, our innovative Co-Founder, spearheading our startup's
                    journey. His strategic vision and entrepreneurial drive have been instrumental in driving our
                    company's success.
                    <br><br>
                <p class="text-secondary">Accolades: Entrepreneurial Excellence Award 2023, Innovation Trailblazer
                    Recognition</p>
                </p>

            </div>
            <div class="col-12 col-lg-4 col-md-4 card">
                <img alt="" class="card-img-top" height="45%"
                     loading="lazy" src="{{ url_for('static', filename='img/team4.jpg') }}" width="100%">
                <h4 class="card-title my-3">Dorcas Barde</h4>
                <h5 class="card-subtitle text-secondary">Co-founder & Visionary</h5>
                <p class="card-text mt-3">
                    Meet Dorcas Barde, our visionary Co-Founder, whose innovative spirit drives our startup's success.
                    Her strategic vision and leadership steer us towards industry prominence.
                    <br><br>
                <p class="text-secondary">Accolades: Entrepreneurial Excellence Award 2023, Visionary Leadership
                    Honors</p>
                </p>
            </div>
            <div class="col-12 col-lg-4 col-md-4 card">
                <img alt="" class="card-img-top" height="45%" loading="lazy"
                     src="{{ url_for('static', filename='img/team3.jpg') }}" width="100%">
                <h4 class="card-title my-3">Mahira Rafik</h4>
                <h5 class="card-subtitle text-secondary">Technical Director</h5>
                <p class="card-text mt-3">
                    Mahira Rafik, a trailblazing Technical Director, blends technical expertise with visionary
                    leadership, reshaping the movie and entertainment landscape. Her role at our startup sets new
                    standards for innovation and excellence.
                    <br><br>
                <p class="text-secondary">Accolades: Technical Innovation Award 2022, MovieTech Visionary of the Year
                    2023
                </p>
                </p>
            </div>
        </div>
    </section>


</main>
<div class="m-auto mb-4 d-flex flex-column align-items-center justify-content-center container">
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" class="d-flex" method="post">
        {{ form.hidden_tag() }}
        <div class="row align-items-center">
            {{ form.post.label(class='form-label') }}
            <div class="col-md-9 col-12 col-lg-9">

                {{ form.post(cols=38, rows=2, class='form-control rounded', spellcheck='True') }}
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col-md-3 col-12 col-lg-3 ">{{ form.submit(class='btn btn-outline-primary ms-3
                justify-content-center')
                }}
            </div>
        </div>
    </form>
    {% endif %}
</div>
<div class="d-flex flex-column justify-content-center align-items-center container">
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
</div>
{% endblock %}